/* Main */

body {
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(254, 249, 237);
}

/* Navbar */

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-nav {
    margin-left: 300px;
}

/* Video Banner  */

.bannerimg {
    width: 100%;
    height: auto;
}

/* Intro Piece  */

.intro {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    line-height: 1.5;
    margin-top: 100px;
    
}

/* .intro-img {
 
    
} */

.intro-text {
    width: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

/* Features Section */

#features {
    padding: 5% 10% 5% 10%; 
    position: relative;}

.feature-box {
    text-align: center; 
    padding:10px;}

    .feature-picture {
         margin-bottom: 50px;}

/* what We do */

.whatwedo {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-bottom: 100px;
}

.coffeefirst {
    width: 800px;
    height: auto;

    margin-top: 50px;
}

.whatwedolist {
    margin-top: 150px;
    margin-right: 150px;
    margin-left: 200px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospacea;
}
.whatwedoitems {
    text-decoration: none;
    font-size: 3em;
    list-style-type: none;
}

/* Games and info  */

.gamesandinfo {
    display: flex;
    margin: 200px;
    margin: 100px;
}

.info {
    background-color: black;
}

.games {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
}

.game-img {
    width: 150px;
    height: auto;
    padding: 5px;
}

/* Landing Page Testimonial */

#testimonial-carousel{
    height: 300px;
}

#testimonials {  
    text-align: center; 
    background-color: #dad2bc;
    color: rgb(0, 0, 0);
   
}
    
#press {
    background-color:  #dad2bc;
    margin-bottom: 0;
    color: rgb(0, 0, 0); 

    text-align: center;
}

.press-logo {

    width: 15%; 
    margin: 20px 20px 50px;
    padding: 0;
}

.carousel-item {
   margin-top: 100px;
}

/* Landing Page Events Section */

.events {
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;  
}

.card-img-top {
    width: 300px;
    height: 300px;
    margin-top: 5px;
}

.btn {
 background-color: rgb(220, 215, 215);
}

.card {
    justify-content: center; 
    text-align: center;
    align-items: center;
   background-color:#dad2bc ;
    margin-top: 100px;
    border: 0;
}

/* Footer */

.footerlinks {
    text-decoration:none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.list-unstyled {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.page-footer {
    background-color:  #dad2bc;
    margin-top: 100px;
}

/* Why we code on Coding Page */

.why-we-code-container {
    display: flex;
    justify-content: space-around;
    margin: 3em;
}

.why-we-code {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(252, 239, 212);
    border-radius: 50%;
}

@media screen and (max-width: 650px) {
    .why-we-code-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Header for coding page */

.coding-header {
    color: rgb(107, 64, 8);
    font-style: italic;
    font-weight: bold;
    margin: 1em 1em 0em 1em;
}

/* Menu page CSS */

.menu-h2 {
    font-weight: bold;
}
/* .carousel-inner {
    width: auto;
    height: 600px;
    margin: 120px;
} */

.menu-items {
    text-align: left;
    font-style: italic;
    display: inline;
}

.menu-li {
    padding-bottom: 3%;
    margin-bottom: 1%;
}

.price {
    display: inline;
    float: right;

}

@media screen and (max-width: 650px) {
    .event {
        width: 100%;
        display: block;
    }
   
}

.carousel-control-prev-icon{
    margin-bottom: 100px;
}

.carousel-control-next{
    margin-bottom: 100px;
}

#competContain{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.competText {
    margin-left: 50px;
    
}

#retroContain{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: space-around;
    
}

.retroText {
    margin-left: 50px;
}

.retroPic{
    margin-left: 50px;
}

#gamingEvent {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.end { 
   text-align: center;
   margin-top: 200px;
}

